body {
  font-size: large;
  font-family: 'Schibsted Grotesk', sans-serif;
  background-color: brown;
}

#jumbotron {
  background: url(assets/img/pexels-anna-shvets-4045568.jpg) center center no-repeat;  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  padding: 15px;
}

#jumbotron > h1 {
  color: brown;
  text-align: center;
  font-size: 330%;
}

#jumbotron > a, #zip {
  text-decoration: none;
  color: wheat;
  background-color: brown;
  font-size: 1.5em;
  padding: 1.5rem;
  border-radius: 10px;
}

#beersign {
  border-radius: 5px;
}

#zipForm {
  background-color: unset;
  border: unset;
}

.zip {
  margin-top: 4rem;
}

td.hiddenID {
  display: none;
}

.avail {
  text-align: center;
}

 table {
  margin-left: auto;
  margin-right: auto;
}

table, td {
  table-layout: auto;
  width: fit-content;
  background-color: wheat;
  border: 2px solid;
  border-color: black;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}

#eggpic {
  height: 40px !important;
  width: auto;
  align: center;
}

.storeSelect {
  text-align: center;
}

#custZip {
  width: 85px;
}

.about {
  background-color: wheat;
  padding: 1.5rem;
  font-size: 1.5em;
  border-radius: 5px;
  border: solid 2px black;
}

#abouthead {
  text-align: center;
  font-size: 2rem;
}

.form-center {
display: flex;
justify-content: center;
}


form {
  border: solid 2px black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem;
  background-color: wheat;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

form > * {
  margin: 0.5rem;
}

 #send {
  display: block;
  margin:1rem auto;
  background-color: darksalmon;
  padding: 1rem 2rem;
  border-radius: 5px;
  border: 2px solid;
}

footer {
  border-top: solid 1px black;
  padding: 2rem 2rem 4rem;
  margin: 1rem 1rem;
}

#about {
  margin: 1rem;
}

#send:hover {
  background-color: slategray;
}

/* Cell phone sized below */
@media (max-width: 549px){
  .hidden--mobile {
    display: none !important;
  }

  nav {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  nav > i {
    padding: 1rem;
    font-size: 2em;
  }

  nav > ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0;
  }

  nav > ul > li {
    padding: 0.5rem;
    list-style-type: none;
  }

  #bio img {
    float: left;
    width: 40%;
    height: auto;
    margin-right: 1rem;
  }
}

/* regular sized  below*/
@media (min-width: 550px) {
   nav > ul {
    display: flex;
    justify-content: space-evenly;
    padding: 5 5;
  }

a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

  nav > ul > li {
    background-color: darksalmon;
    list-style-type: none;
    padding: 1rem 2rem;
    margin: 5;
    overflow: hidden;
    border-radius: 5px;
    display: inline-block;
    border: 2px solid;
   }

   nav > ul > li:hover {
    background-color: slategray;
   }

  nav > .fa-bars {
    display: none;
  }

  #bio {
    margin-right: 3rem;
  }

  #bio img {
    float: left;
    width: 25%;
    height: auto;
    margin-right: 1rem;
  }
}
