#buddy {
  font-family: 'Schibsted Grotesk', sans-serif;
  position: absolute;
  top: 15%;
  left: 50%;
  font-size: 8rem;
  transform: translate(-50%, -50%);
  color:darkred;
}

#eggs {
  max-width: 100%;
  padding-top: 5%;
}

#nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  padding-top: 10%;

}

.header {
  position: relative;
  text-align: center;
  color: darkred;
  background-color: brown;
}
