body {
  font-size: large;
  font-family: 'Schibsted Grotesk', sans-serif;
  background-color: brown;
}


#buddy {
  position: absolute;
  top: 15%;
  left: 50%;
  font-size: 8rem;
  transform: translate(-50%, -50%);
  color:darkred;
}

#eggs {
  max-width: 100%;
  padding-top: 25%;
}

header {
  background-image: url(https://raw.githubusercontent.com/zulujumper/Capstone/master/pexels-anna-shvets-4045568.jpg);
  background-size: cover;
  height: 66vh;
}

a:hover {
  background-color: darkslategrey;
}

/* Cell phone sized below */
@media (max-width: 549px){
  .hidden--mobile {
    display: none !important;
  }

  nav {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  nav > i {
    padding: 1rem;
    font-size: 2em;
  }

  nav > ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0;
  }

  nav > ul > li {
    padding: 0.5rem;
    list-style-type: none;
  }

  #bio img {
    float: left;
    width: 40%;
    height: auto;
    margin-right: 1rem;
  }
}

/* regular sized  below*/
@media (min-width: 550px) {
  nav > ul {
    color: wheat;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    padding: 5 5;
  }

  nav > ul > li {
    color: wheat;
    list-style-type: none;
    text-transform: capitalize;
    padding: 1rem 2rem;
    margin: 5;
    overflow: hidden;
    background-color: brown;
    border-radius: 5px;
    /* display: inline-block;
    text-decoration: none;
    border: 1px solid;

     */
  }

  nav > .fa-bars {
    display: none;
  }

  #bio {
    margin-right: 3rem;
  }

  #bio img {
    float: left;
    width: 25%;
    height: auto;
    margin-right: 1rem;
  }
}


ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: brown;
  }

li {
  float: left;
}

li a {
  display: inline-block;
  color: wheat;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active {
  background-color: darkslategrey;
}

a:hover {
  background-color: darkslategrey;
}

.textarea {
  display: flex;
  justify-content: center;
}
